<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanyang.logistics.jaj.mapper.SysordersMapper">

<select id="getAllOrder" resultType="sysorderses" parameterType="Sysorderses">
SELECT * from sysorders,splited_order_prod_bridge,schedule,sys_order_type,order_status,warehouse where 
splited_order_prod_bridge.orderid = sysorders.oid
and splited_order_prod_bridge.sched_id = schedule.sched_id
and sysorders.sys_order_type_id = sys_order_type.order_type_id
and sysorders.order_status = order_status.sid
and sysorders.from_warehouse = warehouse.wh_id
<if test="cus_order_no!=null and cus_order_no!=''">
 and cus_order_no = #{cus_order_no}
</if>
<if test="to_customer!=null and to_customer!=''">
and to_customer like '%${to_customer}%'
</if>
<if test="statusname!=null and statusname!=''">
and statusname like '%${statusname}%'
</if>
<if test="createtime!=null and createtime!=''">
and createtime &gt;= #{createtime}
</if>
<if test="plan_arrival_date!=null and plan_arrival_date!=''">
and plan_arrival_date &lt;= #{plan_arrival_date} 
</if>

</select>

<select id="getOrderStatus" resultType="OrderStatus">
SELECT * from order_status where sid in(18,19,20)
</select>

<update id="updateOrderStatus" parameterType="Sysorderses">
UPDATE sysorders set order_status = #{order_status} where oid = #{oid}
</update>

</mapper>