<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper SYSTEM 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanyang.logistics.jaj.mapper.WorkOrderMapper">

	<select id="selectPro" resultType="WorkOrder" parameterType="integer">
		select* from splited_order_prod_bridge,product,customized_package,sysorder_product
		where sysorder_product.prod_id = splited_order_prod_bridge.prod_id and splited_order_prod_bridge.prod_id = product.pid and product.package_id = customized_package.pid and splited_order_prod_bridge.oid = #{value}
	</select>

</mapper>