<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanyang.logistics.lxy.mapper.IRoleMapper">
 <resultMap id="BaseResultMap" type="com.sanyang.logistics.base.pojo.Role" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

	<select id="getrole" resultMap="BaseResultMap" >
	select * from role

	</select>
	

	<delete id="deleterole" parameterType="int">
	delete from role where role_id=#{value}
	</delete>
	
	<insert id="addrole" parameterType="com.sanyang.logistics.base.pojo.Role">
	insert into role values(null,'${name}','${description}')
	</insert>
	
	<update id="uprole" parameterType="com.sanyang.logistics.base.pojo.Role">
	update role set name='${name}',description='${description}' where role_id=${roleId}
	</update>
	
</mapper>