<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanyang.logistics.lxy.mapper.IScheduleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.sanyang.logistics.base.pojo.ScheduleType" >
    <id column="sched_type_id" property="schedTypeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

	<select id="geTypes" resultType="com.sanyang.logistics.base.pojo.ScheduleType" resultMap="BaseResultMap">
	select * from schedule_type
	</select>
	
	<delete id="deleteone" parameterType="int">
	delete from schedule_type where sched_type_id=#{value}
	</delete>


</mapper>