<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanyang.logistics.ymm.mapper.CustMapper">
<resultMap type="com.sanyang.logistics.base.pojo.Sysorders" id="BaseResultMap">

<id jdbcType="INTEGER" property="oid" column="oid"/>

<result jdbcType="VARCHAR" property="cusOrderNo" column="cus_order_no"/>

<result jdbcType="INTEGER" property="parentOid" column="parent_oid"/>

<result jdbcType="INTEGER" property="custId" column="cust_id"/>

<result jdbcType="INTEGER" property="sysOrderTypeId" column="sys_order_type_id"/>

<result jdbcType="INTEGER" property="custId" column="cust_order_type_id"/>

<result jdbcType="VARCHAR" property="fromAddress" column="from_address"/>

<result jdbcType="VARCHAR" property="toAddress" column="to_address"/>

<result jdbcType="VARCHAR" property="toCustomer" column="to_customer"/>

<result jdbcType="INTEGER" property="fromWarehouse" column="from_warehouse"/>

<result jdbcType="INTEGER" property="toWarehouse" column="to_warehouse"/>

<result jdbcType="INTEGER" property="orderStatus" column="order_status"/>

<result jdbcType="INTEGER" property="productCount" column="product_count"/>

<result jdbcType="VARCHAR" property="trucktype" column="trucktype"/>

<result jdbcType="TIMESTAMP" property="planTrsprtDate" column="plan_trsprt_date"/>

<result jdbcType="TIMESTAMP" property="planArrivalDate" column="plan_arrival_date"/>

<result jdbcType="TIMESTAMP" property="planOutDate" column="plan_out_date"/>

<result jdbcType="TIMESTAMP" property="planInDate" column="plan_in_date"/>

<result jdbcType="VARCHAR" property="contactPhone" column="contact_phone"/>

<result jdbcType="VARCHAR" property="contactPerson" column="contact_person"/>

<result jdbcType="CHAR" property="takeMoneyFlag" column="take_money_flag"/>

<result jdbcType="CHAR" property="truckflag" column="truckflag"/>

<result jdbcType="INTEGER" property="regionId" column="region_id"/>

<result jdbcType="TIMESTAMP" property="createtime" column="createtime"/>

<result jdbcType="VARCHAR" property="description" column="description"/>

<result jdbcType="VARCHAR" property="createperson" column="createperson"/>


</resultMap>


<resultMap type="com.sanyang.logistics.base.pojo.Warehouse" id="SysResultMap">

<id jdbcType="INTEGER" property="whId" column="wh_id"/>

<result jdbcType="INTEGER" property="typeId" column="type_id"/>

<result jdbcType="VARCHAR" property="name" column="name"/>

<result jdbcType="VARCHAR" property="whno" column="whno"/>

<result jdbcType="VARCHAR" property="address" column="address"/>

<result jdbcType="VARCHAR" property="principle" column="principle"/>

<result jdbcType="INTEGER" property="height" column="height"/>

<result jdbcType="INTEGER" property="area" column="area"/>

<result jdbcType="INTEGER" property="fireproofLevel" column="fireproof_level"/>

<result jdbcType="INTEGER" property="whtype" column="whtype"/>

<result jdbcType="VARCHAR" property="material" column="material"/>

<result jdbcType="INTEGER" property="bearingWeigh" column="bearing_weigh"/>

<result jdbcType="TIMESTAMP" property="createDate" column="create_date"/>

<result jdbcType="TIMESTAMP" property="updateDate" column="update_date"/>

<result jdbcType="VARCHAR" property="contact" column="contact"/>

<result jdbcType="VARCHAR" property="firelevel" column="firelevel"/>

</resultMap>



<resultMap type="com.sanyang.logistics.base.pojo.CustomerOrdertype" id="CustResultMap">

<id jdbcType="INTEGER" property="custOrdertypeId" column="cust_ordertype_id"/>

<result jdbcType="INTEGER" property="cid" column="cid"/>

<result jdbcType="INTEGER" property="sysordertypeId" column="sysordertype_id"/>

<result jdbcType="VARCHAR" property="name" column="name"/>

<result jdbcType="VARCHAR" property="description" column="description"/>

</resultMap>


<resultMap type="com.sanyang.logistics.base.pojo.Customer" id="MerResultMap">

<id jdbcType="INTEGER" property="cid" column="cid"/>

<result jdbcType="VARCHAR" property="cname" column="cname"/>

<result jdbcType="VARCHAR" property="address" column="address"/>

<result jdbcType="VARCHAR" property="contact" column="contact"/>

<result jdbcType="VARCHAR" property="fax" column="fax"/>

<result jdbcType="INTEGER" property="zip" column="zip"/>

<result jdbcType="VARCHAR" property="principal" column="principal"/>

<result jdbcType="VARCHAR" property="description" column="description"/>

</resultMap>




<resultMap type="com.sanyang.logistics.base.pojo.SysOrderType" id="sysoResultMap">

<id jdbcType="INTEGER" property="orderTypeId" column="order_type_id"/>

<result jdbcType="VARCHAR" property="typename" column="typename"/>

<result jdbcType="VARCHAR" property="description" column="description"/>

</resultMap>


<resultMap type="com.sanyang.logistics.base.pojo.Product" id="ProesultMap">

<id jdbcType="INTEGER" property="pid" column="pid"/>

<result jdbcType="VARCHAR" property="pname" column="pname"/>

<result jdbcType="VARCHAR" property="catery" column="catery"/>

<result jdbcType="VARCHAR" property="pmodel" column="pmodel"/>

<result jdbcType="VARCHAR" property="code" column="code"/>

<result jdbcType="VARCHAR" property="provider" column="provider"/>

<result jdbcType="TIMESTAMP" property="createDate" column="create_date"/>

<result jdbcType="TIMESTAMP" property="updateDate" column="update_date"/>

<result jdbcType="INTEGER" property="packageId" column="package_id"/>

<result jdbcType="VARCHAR" property="status" column="status"/>

</resultMap>


<resultMap type="com.sanyang.logistics.base.pojo.SysorderProduct" id="AgeResultMap">
<result jdbcType="VARCHAR" property="ruleDescription" column="rule_description"/>

</resultMap>



	<select id="tolistcust" resultType="com.sanyang.logistics.base.pojo.Sysorders" resultMap="BaseResultMap" parameterType="com.sanyang.logistics.base.pojo.Sysorders">
	 select * from order_status,sysorders,customer,customer_ordertype,sys_order_type where sysorders.cust_id=customer.cid and sysorders.sys_order_type_id=sys_order_type.order_type_id and sysorders.cust_order_type_id=customer_ordertype.cust_ordertype_id and order_status.sid=sysorders.order_status	
		
		<if test="cusOrderNo!='' and cusOrderNo!=null">
			and cus_order_no like '%${cusOrderNo}%'
		</if>
		<if test="cname!='' and cname!=null">
			and customer.cname like '%${cname}%'
		</if>
		<if test="statusname!='' and statusname!=null">
			and order_status.statusname like '%${statusname}%'
		</if>
		<if test="description!='' and description!=null">
			and sysorders.description like '%${description}%'
		</if>
		<if test="planTrsprtDate!='' and planTrsprtDate!=null">
			and plan_trsprt_date='${planTrsprtDate}'
		</if>
		<if test="planArrivalDate!='' and planArrivalDate!=null">
			and plan_arrival_date='${planArrivalDate}'
		</if>
		
	
	</select>
	
	<select id="tolistsys" resultType="com.sanyang.logistics.base.pojo.Sysorders" resultMap="BaseResultMap">
	select * from sysorders
	</select>
	
	<select id="tolistwar" resultType="com.sanyang.logistics.base.pojo.Warehouse" resultMap="SysResultMap">
	select * from warehouse 
	</select>	
	
	<select id="tolistdname" resultType="com.sanyang.logistics.base.pojo.CustomerOrdertype" resultMap="CustResultMap">
	select * from customer_ordertype
	</select>	
	
	<select id="tolistmer" resultType="com.sanyang.logistics.base.pojo.Customer" resultMap="MerResultMap">
	select * from customer 
	</select>	
	
	<select id="tolistsyso" resultType="com.sanyang.logistics.base.pojo.SysOrderType" resultMap="sysoResultMap">
	select * from sys_order_type 
	</select>
	
	<insert id="addorder" parameterType="com.sanyang.logistics.base.pojo.CustomerOrdertype">
	insert into customer_ordertype (cust_ordertype_id, cid, sysordertype_id, name, description) values (#{custOrdertypeId,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{sysordertypeId,jdbcType=INTEGER}, #{name,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
	</insert>
	
	
	<select id="selbyoid" resultType="com.sanyang.logistics.base.pojo.Sysorders" resultMap="BaseResultMap" parameterType="Integer">
	select * from sysorders,customer,warehouse where sysorders.cust_id=customer.cid and warehouse.wh_id=sysorders.from_warehouse and oid=#{value}
	</select>
	
	<delete id="delsys" parameterType="Integer" >
	delete from sysorders where oid=#{value}
	
	</delete>
	
	<insert id="addcustomer" parameterType="com.sanyang.logistics.base.pojo.Customer"> 
	insert into customer values (null, #{cname}, #{address}, #{contact}, #{fax}, #{zip}, #{principal}, #{description}) 
	</insert>
		
	<select id="selbyoidsys" resultType="com.sanyang.logistics.base.pojo.Sysorders" resultMap="BaseResultMap" parameterType="Integer">
	select *from sysorders,customer,warehouse where sysorders.cust_id=customer.cid and sysorders.from_warehouse=warehouse.wh_id and oid=#{value}
	</select>
	
	<select id="tolisthwqd" resultType="com.sanyang.logistics.base.pojo.SysorderProduct"  resultMap="AgeResultMap" parameterType="Integer">
	select b.pname,c.code,c.pmodel,a.pcount,b.rule_description,c.status from sysorder_product a,customized_package b,product c,sysorders d where a.orderid=d.oid and a.prod_id=c.pid and c.package_id=b.pid
	 and d.oid=#{value}	
	 </select>

	<select id="selectbyoid" parameterType="Integer" resultType="com.sanyang.logistics.base.pojo.Sysorders" resultMap="BaseResultMap" >
	 select * from order_status,sysorders,customer,customer_ordertype,sys_order_type where sysorders.cust_id=customer.cid and sysorders.sys_order_type_id=sys_order_type.order_type_id and sysorders.cust_order_type_id=customer_ordertype.cust_ordertype_id and order_status.sid=sysorders.order_status
	 and oid=#{value}
	</select>
	
</mapper>